<!DOCTYPE html>
<html>
<head>
    <title>实时更新各大平台热度榜单</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <style>
        body {
            font-family: 'Microsoft yahei';
            font-size: 14px;
            background-color: #f5f5f5;
        }

        .header {
            background-color: #fff;
            box-shadow: 0px 1px 10px 0px rgba(0,0,0,.1);
        }

        .title {
            font-size: 36px;
            padding: 16px 0;
            line-height: 60px;
            color: blue;
        }

        .list-group-item {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            border: 0;
            line-height: 25px;
        }

        .row-col {
            border-radius: 20px;
            background-color: #fff;
        }

        h6 {
            font-size: 18px;
            margin: 0;
            line-height: 60px;
        }

        .more a {
            color: blue;
            text-align: right;
            line-height: 30px;
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="title font-weight-light">
                <img src="img/logo.png" width="60" />
                热榜聚合平台<small class="font-weight-light">-实时更新</small>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h6>百度热点事件</h6>
                <div class="row-col">
                    {{ range $key, $val := . }}
                        {{ if eq $val.FileName "baidusj.json" }}
                            {{ range $index, $model := $val.Content }}
                                {{ if lt $index 10 }}
                                <a target="_blank" href="{{$model.Url}}" id="baidusj{{$index}}" class="list-group-item list-group-item-action">
                                    <small class="font-weight-normal">{{inc $index}}. {{$model.Name}}</small>
                                </a>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                    <div class="more">
                        <a target="_blank" href="http://top.baidu.com/buzz?b=341" id="baidusj" class="list-group-item list-group-item-action">more &gt;&gt;</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <h6>百度实时热点</h6>
                <div class="row-col">
                    {{ range $key, $val := . }}
                        {{ if eq $val.FileName "baidurd.json" }}
                            {{ range $index, $model := $val.Content }}
                                {{ if lt $index 10 }}
                                <a target="_blank" href="{{$model.Url}}" id="baidusj{{$index}}" class="list-group-item list-group-item-action">
                                    <small class="font-weight-normal">{{inc $index}}. {{$model.Name}}</small>
                                </a>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                    <div class="more">
                        <a target="_blank" href="http://top.baidu.com/buzz?b=1" id="baidurd" class="list-group-item list-group-item-action">more &gt;&gt;</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <h6>微博热搜榜</h6>
                <div class="row-col">
                    {{ range $key, $val := . }}
                        {{ if eq $val.FileName "weibo.json" }}
                            {{ range $index, $model := $val.Content }}
                                {{ if lt $index 10 }}
                                <a target="_blank" href="{{$model.Url}}" id="baidusj{{$index}}" class="list-group-item list-group-item-action">
                                    <small class="font-weight-normal">{{inc $index}}. {{$model.Name}}</small>
                                </a>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                    <div class="more">
                        <a target="_blank" href="https://s.weibo.com/top/summary?cate=realtimehot" id="weibo" class="list-group-item list-group-item-action">more &gt;&gt;</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <h6>贴吧热门讨论</h6>
                <div class="row-col">
                    {{ range $key, $val := . }}
                        {{ if eq $val.FileName "tieba.json" }}
                            {{ range $index, $model := $val.Content }}
                                {{ if lt $index 10 }}
                                <a target="_blank" href="{{$model.Url}}" id="baidusj{{$index}}" class="list-group-item list-group-item-action">
                                    <small class="font-weight-normal">{{inc $index}}. {{$model.Name}}</small>
                                </a>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                    <div class="more">
                        <a target="_blank" href="http://tieba.baidu.com/hottopic/browse/topicList?res_type=1" id="tieba" class="list-group-item list-group-item-action">more &gt;&gt;</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <h6>V2EX热帖</h6>
                <div class="row-col">
                    {{ range $key, $val := . }}
                        {{ if eq $val.FileName "vsite.json" }}
                            {{ range $index, $model := $val.Content }}
                                {{ if lt $index 10 }}
                                <a target="_blank" href="{{$model.Url}}" id="baidusj{{$index}}" class="list-group-item list-group-item-action">
                                    <small class="font-weight-normal">{{inc $index}}. {{$model.Name}}</small>
                                </a>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                    <div class="more">
                        <a target="_blank" href="https://www.v2ex.com/?tab=hot" id="vsite" class="list-group-item list-group-item-action">more &gt;&gt;</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <h6>知乎热榜</h6>
                <div class="row-col">
                    {{ range $key, $val := . }}
                        {{ if eq $val.FileName "zhihu.json" }}
                            {{ range $index, $model := $val.Content }}
                                {{ if lt $index 10 }}
                                <a target="_blank" href="{{$model.Url}}" id="baidusj{{$index}}" class="list-group-item list-group-item-action">
                                    <small class="font-weight-normal">{{inc $index}}. {{$model.Name}}</small>
                                </a>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                    <div class="more">
                        <a target="_blank" href="https://www.zhihu.com/hot" id="zhihu" class="list-group-item list-group-item-action">more &gt;&gt;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        //var siteArray = ["baidusj", "baidurd", "weibo", "tieba", "vsite", "zhihu"];
        $(function () {
            var page = "hotspot";
            $.getJSON(page, function (data_all) {
                for (var i = 0; i < data_all.length; i++) {
                    var currFileName = data_all[i].FileName;
                    var currSite = currFileName.replace(".json", "");
                    for (var j = 0; j < data_all[i].Content.length; j++) {
                        var id_name = currSite + j;
                        var x = j + 1
                        var $ele = $("#" + id_name);
                        if ($ele) {
                            var text = '<small class="font-weight-normal">' + x + '.' + data_all[i].Content[j].Name + '</small>';
                            $ele.html(text);
                            $ele.attr("href", data_all[i].Content[j].Url)
                        }
                    }
                }
            });
        })
    </script>> -->
</body>
</html>